<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">

      {% if page.toc %}
      <div class="toggle-toc">
        <div class="toc-sidebar">
          <h2>Table of Contents</h2>
          {{ page.document | tocify_asciidoc }}
        </div>
      {%- endif -%}

      <div class="wrapper">
        {{ content }}
      </div>

      {% if page.toc %}
      </div>
      {% endif %}

    </main>

    {%- include footer.html -%}

  </body>

</html>
